@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* o-курсе */
.o-курсе * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.o-курсе body {
    font-family: Roboto, sans-serif;
    padding: 20px;
    
}

.o-курсе {
    max-width: 1200px;
    margin: 162px 121px;
}

.o-курсе .text-and-large-image {
    display: flex;
    justify-content: space-between;
}

.o-курсе .text-content {
    height: 374px;
    width: 662px;
    margin-right: 20px;
}

.o-курсе h1 {
    font-size: 55px;
    margin-bottom: 50px;
}

.o-курсе p {
    font-size: 24px;
}

.o-курсе .large-image {
    display: flex;
    flex-direction: column;
    
}

.o-курсе .large-image .img11 {
    
    position: relative;
    margin-top: 65px;
    width: 314px;
    height: 315px;
    margin-bottom: -29px;
    
}
.o-курсе .large-image .img12 {
    width: 366px;
    height: 59px;
   margin-left: -26px;
}
.o-курсе .small-image {
    display: flex;
    flex-direction: column;
    
}
.o-курсе .small-image .img21 {
    position: relative;
   
    width: 232px;
    height: 203px;
    margin-bottom: -16px;
    
}
.o-курсе .small-image .img22 {
    width: 189px;
    height: 32px;
   margin-left: 33px;
}

.o-курсе .course-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.o-курсе .small-image {
   height: 203px;
    width: 232px;
    margin-right: 132px;
}

.o-курсе .small-image img {
    width: 100%;
}

.o-курсе .stats {
    display: flex;
    justify-content: space-between;
    width: 50%;
}


.o-курсе .stat h3 {
    font-size: 25px;
    margin-bottom: 5px;
}

.o-курсе .stat p {
    font-size: 18px;
}

/* формат-занятий */
.формат-занятий h1{
    padding-bottom: 89px;
    font-size: 55px;
    margin-left: 122px;
    margin-bottom: 0px;
}

.формат-занятий h3{
    color: #1E4681;
    font-size: 25px;

}
.формат-занятий .container{
    display:flex;
    gap: 122px;
    font-size: 18px;
    margin-left: 122px;
    font-family: Roboto,sans-serif;
}
.формат-занятий .Что-узнаем{
    margin-top: 180px;
    padding-bottom: 20px;
}
.формат-занятий ul{
    margin-left: 122px;
    font-size: 24px;
}
@media(max-width: 991px) and (min-width:320px) {
    .формат-занятий h1 {
        padding-bottom: 16.66px;
        font-size: 26px;
        margin-left: 36px;
        margin-right: 28.2px;
    }

    h3 {
        color: #1E4681;
        font-size: 12px;
        margin-bottom: 0.83px;
        margin-top: 16.66px;

    }

    .формат-занятий .container {
        display: flex;
        flex-direction: column;
        gap: 29px;
        font-size: 10px;
        margin-left: 35px;

    }
    .Что-узнаем {
        margin-top: 73px;
        padding-bottom: 21px;
        
    }
    

    ul {
        font-size: 9px;
        margin-right: 32px;
    }

    .формат-занятий .block {
        flex-direction: column;

    }
}
@media(max-width: 1279px) and (min-width: 992px){ 


    .формат-занятий h1{
        padding-bottom: 51.55px;
        font-size: 32px;
        margin-left: 70.08px;
        margin-bottom: 0px;
    }
    
    .формат-занятий h3{
        color: #1E4681;
        font-size: 15px;
    
    }
    .формат-занятий .container{
        display:flex;
        gap: 46px;
        font-size: 11px;
        margin-left: 71px;
        font-family: Roboto,sans-serif;
    }
    .формат-занятий .Что-узнаем{
        margin-top: 100px;
        padding-bottom: 20px;
    }
    .формат-занятий ul{
        margin-left: 50px;
        font-size: 14px;
    }
    } 
/* программа-курса */
.программа-курса * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.программа-курса body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.программа-курса {
    max-width: 1200px;
    margin-top: 210px;
    margin-left: 84px;
    margin-bottom: 121px;
}

.программа-курса h1 {
    margin-bottom: 95px;
    font-size: 55px;
    margin-left: 37px;
}

.программа-курса .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
}

.программа-курса .card {
    background-color: #fff;
    border-radius: 30px;
    padding: 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 328px;
    width: 399px; 
    overflow: hidden;
}

.программа-курса .card h2 {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: 8%;
}

.программа-курса .card p {
    display: flex;
    font-size: 25px;  
    margin-left: 19px;
    justify-content:flex-start;
}

.программа-курса .icon {
    width: 100%; 
    height: 160px; 
    object-fit: cover; 
}


/* kурс-прошло */
.kурс-прошло .container {
    width: 100%;
    height: 780px;
    background: #EFEFEF;
    padding-left: 126px;
}

.kурс-прошло .box {
    width: 791px;
    height: 451px;
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
    background-color: white;
}

.kурс-прошло p {
    width: 700px;
    height: 203px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 46px;
    line-height: 30px;
    text-align: left;
}

.kурс-прошло h1 {
    width: 987px;
    height: 93px;
    font-family: Roboto Slab;
    font-size: 61.5px;
    font-weight: 700;
    text-align: left;
    padding-top: 91px;
    padding-left: 122;
}

.kурс-прошло .img {
    box-sizing: border-box;
    width: 210px;
    height: 200px;
    padding-left: 26px;
    padding-bottom: 29px
}

.kурс-прошло h2 {
    display: flex;
    flex-direction: column;
    width: 353px;
    height: 59px;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
}

.kурс-прошло .photo1 {
    display: flex;
}

.kурс-прошло .photo2 {
    width: 32px;
    height: 31px;
    padding-bottom: 86px;
    padding-left: 20px;
}

.kурс-прошло .boxbox {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 15px;
    padding-bottom: 100px;
}




/* tablet */
 @media (max-width:1280px) and (min-width:991px){

    .kурс-прошло .container {
        width: 100%;
        height: 451.75px;
        background: #EFEFEF;
        padding-left: 72px;

    }

    .kурс-прошло .box {
        width: 458.12px;
        height: 261.2px;
        display: flex;
        flex-direction: column;
        border-radius: 30px 30px 30px 30px;
        box-sizing: border-box;
        background-color: white;
        padding-left: 3px;
    }

    .kурс-прошло h1 {
        width: 571.64px;
        height: 53.86px;
        font-family: Roboto Slab;
        text-align: left;
        font-size: 36px;
        font-weight: 700px;
        line-height: 32.44px;
        padding-left: 20px;
        padding-top: 53px;
    }

    .kурс-прошло p {
        width: 405.42px;
        height: 117.57px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        width: 405.42px;
        height: 117.57px;
        padding-left: 26px;
        padding-top: 13px;
    }

    .kурс-прошло .img {
        box-sizing: border-box;
        width: 130px;
        height: 125px;
        padding-left: 15px;
    }

    .kурс-прошло h2 {
        display: flex;
        flex-direction: column;
        width: 204.45px;
        height: 34.17px;
        font-family: Roboto Slab;
        font-size: 17px;
        font-weight: 700;
        line-height: 17.24px;
        text-align: left;
        padding-left: 10px;
    }

    .kурс-прошло .photo1 {
        display: flex;
    }

    .kурс-прошло .photo2 {
        width: 18.53px;
        height: 17.95px;
        padding-left: 5px;
    }

    .kурс-прошло .boxbox {
        display: flex;
        flex-direction: column;
    }
} 



/* mobile */
@media (max-width:991px) and (min-width: 320px) {

    .kурс-прошло .container {
        background: #EFEFEF;
        width: 100%;
        min-width: 300px;
        height: 423px;
        padding-left: 50px;
    }

    .kурс-прошло .box {
        width: 328px;
        height: 248px;
        display: flex;
        flex-direction: column;
        border-radius: 30px 30px 30px 30px;
        box-sizing: border-box;
        background-color: white;
    }

    .kурс-прошло p {
        width: 266px;
        height: 111.01px;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        text-align: left;
    }

    .kурс-прошло h1 {
        width: 257px;
        height: 69px;
        font-family: Roboto Slab;
        font-size: 26px;
        font-weight: 700;
        text-align: left;
        line-height: 26.36px;
        padding-left: 16px;
        padding-top: 42px;

    }



    .kурс-прошло .img {
        box-sizing: border-box;
        width: 125px;
        height: 120px;


    }

    .kурс-прошло h2 {
        display: flex;
        flex-direction: column;
        width: 164.49px;
        height: 32.73px;
        font-family: Roboto Slab;
        font-size: 14px;
        font-weight: 700;
        line-height: 14.19px;
        text-align: left;
        padding-left: 3px;

    }

    .kурс-прошло .photo1 {
        display: flex;
    }

    .kурс-прошло .photo2 {
        width: 14.91px;
        height: 17.2px;
        padding-left: 3px;
    }

    .kурс-прошло .boxboox {
        display: flex;
        flex-direction: column;
    }
}